* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #ffff;
    background:#cd8766;
    padding: 10px;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 0;
    outline: 0;
  }
  
  .card {
    background: #ddba93;
    border: 1px solid #e3b089;
    border-radius: 4px;
    margin: 4px;
    list-style: none;
    padding: 20px;
  }
.card > #cek  {
    max-width: 20px;
  }
  
  .btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    padding: .7rem 1rem;
    border-radius: 3px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }
  
  .card > h4, p {
    padding: 7px;
  }
  
  .btn-danger {
    background: #ed3330;
  }
  
  .btn-secondary {
    background: #434343;
    color: #fff !important; 
  }
  
  .btn:hover {
    background: #cd8766;
    color: white !important;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(205,135,102);
    -moz-box-shadow: 0px 5px 40px -10px rgba(205,135,102);
    box-shadow: 5px 40px -10px rgba(205,135,102);
    transition: all 0.4s ease 0s;
  }
  